.countdown-container {
  text-align: center;
  margin-top: 60px;
  color: white;
}

.countdown-title {
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: 600;
}

/* Box container */
.time-boxes {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* Single box */
.time-box {
  width: 120px;
  height: 120px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 15px;

  backdrop-filter: blur(12px);
  background: rgba(80, 50, 140, 0.25);

  border: 1px solid rgba(150,100,255,0.4);

  box-shadow:
    0 0 15px rgba(122,92,255,0.2),
    inset 0 0 20px rgba(122,92,255,0.15);

  transition: 0.3s ease;
}

.time-box:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow:
    0 0 25px rgba(122,92,255,0.4),
    inset 0 0 25px rgba(122,92,255,0.2);
}

.time-box h1 {
  font-size: 36px;
  margin: 0;
}

.time-box p {
  font-size: 14px;
  opacity: 0.8;
  letter-spacing: 1px;
}
