.explore-page {
  min-height: 100vh;
  background: radial-gradient(circle at top, #24004a, #05000c);
  color: white;
}

.explore-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 120px 40px;
}

/* LEFT CARD */

.workshop-card {
  background: rgba(80, 0, 150, 0.25);
  border-radius: 16px;
  padding: 18px;
  width: 320px;
  text-align: center;
  backdrop-filter: blur(12px);
}

.workshop-card img {
  width: 100%;
  border-radius: 12px;
}

/* BUTTONS */

.workshop-btns {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.btn-primary {
  background: linear-gradient(90deg, #7c2cff, #b44cff);
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.btn-secondary {
  border: 1px solid #b44cff;
  background: transparent;
  padding: 10px 18px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

/* RIGHT PANEL */

.workshop-details {
  width: 600px;
}

.workshop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-tag span {
  color: gray;
  font-size: 13px;
  margin-left: 6px;
  text-decoration: line-through;
}

/* DETAILS BOX */

.details-box {
  background: rgba(80, 0, 150, 0.22);
  padding: 20px;
  border-radius: 15px;
  margin-top: 15px;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 15px;
}

/* TABS */

.tab-buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.tab-buttons button {
  padding: 8px 16px;
  border: 1px solid #7c2cff;
  background: transparent;
  color: white;
  border-radius: 6px;
}

.active-tab {
  background: linear-gradient(90deg, #7c2cff, #b44cff);
}


/*QR*/

.qr-container {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 30px;
   
  padding: 25px;

  max-width: 700px;
  margin: auto;
}

.qr-img {
  width: 160px;
  height: 160px;
cursor: pointer;
  border-radius: 12px;

  background: white;
  padding: 8px;

  box-shadow:
    0 0 20px rgba(160, 0, 255, 0.6);
}

.qr-text h3 {
  font-size: 22px;
  margin-bottom: 8px;

  color: #c77dff;
}

.qr-text p {
  font-size: 14px;
  line-height: 1.5;
}

.qr-note {
  color: #ffccff;
  font-weight: bold;
  margin-top: 6px;
}


/* ===============================
   MOBILE QR FIX
================================ */

@media (max-width: 768px) {

  .qr-container {
    flex-direction: column;
    text-align: center;
  }

  .qr-img {
    width: 140px;
    height: 140px;
  }

}

/* MOBILE */

@media (max-width: 900px) {

  .explore-container {
    flex-direction: column;
  }

  .workshop-details {
    width: 100%;
  }

  .info-grid {
    grid-template-columns: 1fr;
  }

}



