body {
    font-size: 10px;
  font-weight: 300;
  letter-spacing: 3px;

  margin: 0;
  
text-transform: uppercase;
 font-family: 'Orbitron', sans-serif;
  color: rgb(255, 255, 255);
  background: radial-gradient(circle at top, #14002b, #05050a 60%);
}


/* Neon Title */



.video-container {
 position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgb(0, 0, 0);   /* Side color */

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: -1;

}

.bg-video {
  
  height: 100vh;      /* Fit height */
  width: auto;        /* Maintain aspect ratio */
  object-fit: contain;

}



.layout {
  display: flex;
  min-height: 80vh;
}

.content {
  flex: 1;
  padding: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.4); /* optional glass effect */
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 40px;
}
.pack-card {
  width: 290px;
  height: 440px;
  background: #02020a;

  position: relative;
  padding: 12px;

  /* Thick white sci-fi border */
  border: 2.5px solid white;

  /* Neon inner glow */
  box-shadow:
    0 0 25px #7c3aed,
    inset 0 0 18px rgba(124,58,237,0.8);

  /* Angled sci-fi cut */
  clip-path: polygon(
    0% 9%,
    8% 0%,
    92% 0%,
    100% 9%,
    100% 91%,
    92% 100%,
    8% 100%,
    0% 91%
  );

  transition: 0.4s ease;
}

/*Hover Cyber Lift Effect*/
.pack-card:hover {
  transform: translateY(-12px) scale(1.05);

  box-shadow:
    0 0 45px #c77dff,
    inset 0 0 25px #7c3aed;
}


/* Top PACKEDGE Label */
.pack-title {
  text-align: center;
  color: white;
  font-size: 18px;
  letter-spacing: 3px;
  margin-bottom: 8px;

  text-shadow:
    0 0 10px white,
    0 0 20px #7c3aed;
}

/* Image Area */

.pack-image {
  height: 280px;
  overflow: hidden;

  border-radius: 6px;

  box-shadow:
    inset 0 0 10px black,
    0 0 8px rgba(124,58,237,0.6);
}

.pack-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Bottom  Tech Panel*/

footer {
  padding: 50px 20px;
  background: #0b0015;
}

.section-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  text-align: center;
  margin-bottom: 20px;
}

/*Circuit Corner Decoration*/
.pack-tech-corner {
  width: 70px;
  height: 70px;

  background: linear-gradient(45deg,#a855f7,#7c3aed);

  clip-path: polygon(
    0% 50%,
    45% 0%,
    100% 0%,
    100% 100%,
    0% 100%
  );
}
